{% load static tailwind_tags %} {% tailwind_css %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
  </head>
<body class="bg-gray-50 text-gray-800">
  <div class="min-h-screen max-w-screen-lg mx-auto flex flex-col">
      <!-- NAVBAR -->
      {% include 'partials/navbar.html' %}

      <!-- CONTENIDO -->
      <main class="flex-1">{% block content %}{% endblock %}</main>

      <!-- FOOTER -->
      <footer>{% include 'partials/footer.html' %}</footer>
    </div>
  </body>
</html>
